<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{ with resources.Get "sass/common.sass" | toCSS | minify | fingerprint }}
  <link rel="stylesheet" href="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}" crossorigin="anonymous">
  {{ end }}
  {{ with resources.Get "sass/index.sass" | toCSS | minify | fingerprint }}
  <link rel="stylesheet" href="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}" crossorigin="anonymous">
  {{ end }}
  <title>{{ .Title }}</title>
</head>

<body>
  {{ partial "header/navbar.html" }}
  <main>
    <section>
      <div class="slider">
        <div class="slide"></div>
        <div class="slide"></div>
        <div class="slide"></div>
        <div class="slide"></div>
        <div class="slide"></div>
      </div>
      <h1>Your portal to the richness and diversity of the Palestinian Culture</h1>
    </section>

    <section class="categories container">
      <h2>Categories</h2>
      <div>
        <div class="category">
          <h3>Cuisine</h3>
        </div>
        <div class="category">
          <h3>Clothing</h3>
        </div>
        <div class="category">
          <h3>Cinema</h3>
        </div>
      </div>
    </section>

    <section class="fact container">
      <h2>Did you know?</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam facilis cupiditate officiis sequi
        perferendis ducimus fuga, iste ea consequuntur illo ad hic eius debitis. Ut atque delectus error at dignissimos!
      </p>
    </section>
    <section class="gallery container">
      <div class="text">
        <h2>An Image Speaks a Thousand Words</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores beatae veniam, animi nesciunt quos aliquam
          libero porro perspiciatis dignissimos qui esse! Nobis esse modi accusamus eaque blanditiis neque impedit
          natus.
        </p>
        <button>Button</button>
      </div>
      <div class="images">
        <img
          src="https://imgs.search.brave.com/VYmubiHzP2TbCJ1jg93Z0kwLfaGPZ_KfyHClk58YxPU/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9pLnBp/bmltZy5jb20vb3Jp/Z2luYWxzLzYxL2Fm/Lzk2LzYxYWY5NmY2/NmEyNjE0OTZiY2Vi/OTNjY2FjNDVmNTZk/LmpwZw"
          alt="Map of Palestine">
        <img
          src="https://imgs.search.brave.com/VYmubiHzP2TbCJ1jg93Z0kwLfaGPZ_KfyHClk58YxPU/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9pLnBp/bmltZy5jb20vb3Jp/Z2luYWxzLzYxL2Fm/Lzk2LzYxYWY5NmY2/NmEyNjE0OTZiY2Vi/OTNjY2FjNDVmNTZk/LmpwZw"
          alt="Map of Palestine">
        <img
          src="https://imgs.search.brave.com/VYmubiHzP2TbCJ1jg93Z0kwLfaGPZ_KfyHClk58YxPU/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9pLnBp/bmltZy5jb20vb3Jp/Z2luYWxzLzYxL2Fm/Lzk2LzYxYWY5NmY2/NmEyNjE0OTZiY2Vi/OTNjY2FjNDVmNTZk/LmpwZw"
          alt="Map of Palestine">
      </div>
    </section>
    <section class="map container">
      <h2>The Map of Palestine</h2>
      <img
        src="https://imgs.search.brave.com/VYmubiHzP2TbCJ1jg93Z0kwLfaGPZ_KfyHClk58YxPU/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9pLnBp/bmltZy5jb20vb3Jp/Z2luYWxzLzYxL2Fm/Lzk2LzYxYWY5NmY2/NmEyNjE0OTZiY2Vi/OTNjY2FjNDVmNTZk/LmpwZw"
        alt="Map of Palestine">
    </section>
  </main>
  {{ partial "footer.html" }}
</body>

</html>