<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    @font-face {
      font-family: Nestapha;
      src: url('{{ .Site.BaseURL }}fonts/Nestapha.otf') format('opentype');
    }
  </style>
  {{ with resources.Get "sass/common.sass" | toCSS | minify | fingerprint }}
  <link rel="stylesheet" href="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}" crossorigin="anonymous">
  {{ end }}
  {{ with resources.Get "sass/index.sass" | toCSS | minify | fingerprint }}
  <link rel="stylesheet" href="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}" crossorigin="anonymous">
  {{ end }}
  <link rel="shortcut icon" href="{{ relURL "img/favicon.png" }}" type="image/x-icon">
  <title>{{ .Title }}</title>
</head>

<body>
  {{ partial "header/navbar.html" }}
  <main>
    <section>
      <div class="slider">
        <div class="slide"></div>
        <div class="slide"></div>
        <div class="slide"></div>
        <div class="slide"></div>
        <div class="slide"></div>
      </div>
      <div class="overlay">
        <h1>Your portal to the richness and diversity of the Palestinian Culture</h1>
      </div>
    </section>

    <section class="categories container">
      <h2>Categories</h2>
      <div>
        <div class="category">
          <h3>Cuisine</h3>
        </div>
        <div class="category">
          <h3>Clothing</h3>
        </div>
        <div class="category">
          <h3>Cinema</h3>
        </div>
      </div>
    </section>

    <section class="fact">
      <div class="container content">
        <h2>Did you know?</h2>
        <p>
          Palestine was first documented in ancient Egyptian tablets as Peleset over 3000 years ago,
        </p>
      </div>
    </section>
    <section class="gallery container">
      <div class="text">
        <h2>A rich culture shown in images</h2>
        <p>
          A place of beauty and love, this gallery shows the many beautiful colors of Palestine. 
        </p>
        <button>Take a look &#8594;</button>
      </div>
      <div class="images">
        
          <img
            src="{{ relURL "img/al_quds.jpg" }}"
            alt="Al Quds dome of the rock">
        <img
          src="{{ relURL "img/nablus-old-city-arch.jpg" }}"
          alt="Nablus old city arch">
        <img
          src="{{ relURL "img/gaza-city.jpg" }}"
          alt="Gaza City">
      </div>
    </section>
    <section class="map container">
      <div>
        <img src="{{ relURL "img/keffiyeh.png" }}" alt="Palestinian keffiyeh" class="keffiyeh-decoration">
        <h2>The Map of Palestine</h2>
      </div>
      <img
        src="https://imgs.search.brave.com/VYmubiHzP2TbCJ1jg93Z0kwLfaGPZ_KfyHClk58YxPU/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9pLnBp/bmltZy5jb20vb3Jp/Z2luYWxzLzYxL2Fm/Lzk2LzYxYWY5NmY2/NmEyNjE0OTZiY2Vi/OTNjY2FjNDVmNTZk/LmpwZw"
        alt="Map of Palestine"
        class="map-img">
    </section>
  </main>
  {{ partial "footer.html" }}
</body>

</html>